@font-face {
  font-family: Verdana;
  src: url(../assets/fonts/fa-solid-900.woff2);
}
html{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana;
    font-size: 1.6rem;
}

header{
    background-color: #218380;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .4rem 3.5rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    color: white;
}

main{
    margin-top: 5rem;
    height: 90vh;
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: turquoise; */
}

.container{
    /* margin: auto; */
    background: white;
    /* width: 80rem; */
    max-width: 80rem;
    padding: 5.5rem 4.5rem;
    /* max-width: 50rem; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 25px;
}

h2{
    font-size: 2.4rem;
    color: #000;
    margin: 1rem;
    margin-bottom: 2.8rem;
}

p{
    margin: 1.4rem 1rem;
    font-weight: 500;
}

.btn{
    background-color: #218380;
    border-radius: 8px;
    padding: 1.2rem 1rem;
    border: none;
    color: white;
    font-weight: 600;
    margin: 1rem;
    margin-right: 0;
    cursor: pointer;

}
input{
    max-width: 10rem;
    padding: 0.7rem 1rem;
    margin-left: 1rem;
    outline: none;
}

#initial-box{
    position: relative;
}


.option{
    color: white;
    background-color: #218380;
    font-weight: 600;
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
    margin: 0.4rem;
    /* text-align: left; */
}
hr{
    margin-top: 1rem;
}

/* .answer{
    font-weight: 500;
} */

.hidden{
    display: none;
}

.invisible{
    opacity: 0;
}

/* media queries */

@media (max-width:850px) {
    .container{
        max-width: 90vw;
    }
}

@media (max-width:600px) {
    .container{
        padding: 4rem 2rem;
    }
}


@media (max-width: 400px){
    h2{
        margin-top: 0;
        margin-bottom: 1rem;

    }
    header{
        padding: .4rem 2rem;
    }
}